img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container--flex {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container--flex {
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container--flex {
    justify-content: flex-start;
  }
}

.header__tools {
  z-index: 9;
}

.header__tools.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .header__tools {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

.logo__text {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: flex;
    flex-flow: wrap;
    margin-top: 302px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
    margin-left: 294px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item {
    order: 2;
  }
  .auth-nav__item-order {
    order: 1;
    margin-bottom: 32px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link {
    display: inline-block;
    color: #2196f3;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17647;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link--font-size {
    font-size: 24px;
    line-height: 28px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon {
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }
}

.header-socials {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-socials__link {
  display: flex;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__button {
  z-index: 10;
  position: relative;
  display: inline-flex;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .header__button {
    display: none;
  }
}

.icon-menu {
  display: none;
}

.header__button.is-open .icon-menu {
  display: block;
}

.header__button.is-open .icon-cross {
  display: none;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 118px;
    text-align: center;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-img-480.jpg");
    background-size: 480px 400px;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 118px;
    text-align: center;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/header-img-768.jpg");
    background-size: 768px 400px;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 200px;
    text-align: center;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/header-img-1600.jpg");
    background-size: 1600px 600px;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-img-960.jpg");
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/header-img-1535.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/header-img-3200.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  max-width: 200px;
  height: 50px;
  padding: 0 31px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #188ce8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
    margin: 0;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .features__box {
    max-width: 270px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.section--none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--none {
    display: block;
  }
}

.section--padding {
  padding-top: 0;
}

.about {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section--bg-color {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    display: flex;
  }
}

.team-card__item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__pic {
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-card__pic {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__pic {
    max-width: 270px;
  }
}

.team-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-socials {
  display: flex;
  justify-content: center;
}

.team-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  align-items: center;
  list-style: none;
  color: #afb1b8;
  border-radius: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-socials__link--margin {
  margin-right: 0;
}

.team-socials__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer--flex {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    justify-content: center;
  }
}

.footer__left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__left-block {
    align-items: flex-start;
    margin-right: 70px;
  }
}

.footer__logo {
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.logo__text--color {
  color: #ffffff;
}

.address__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address__list {
    align-items: flex-start;
  }
}

.address__link {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--margin {
  margin-bottom: 0;
}

.address__link--color {
  color: #ffffff;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    padding-top: 10px;
    text-align: start;
  }
}

.footer-socials__text {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-socials__list {
  display: flex;
  justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  list-style: none;
  border-radius: 50px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
}

.footer-socials__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .mail-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-form {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    margin-left: auto;
  }
}

.mail-form__field {
  display: flex;
  flex-direction: column;
}

.mail-form__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .mail-form__label {
    text-align: start;
  }
}

.mail-form__input {
  height: 50px;
  margin: 0;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  font-size: 20px;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-form__input:focus {
  border: 1px solid #2196f3;
}

.mail-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .mail-form__input {
    width: 358px;
  }
}

.mail-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .mail-form__button {
    margin-left: 12px;
  }
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  display: flex;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.close-btn__icon {
  display: flex;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon:hover {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.form-fild {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-fild__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14px / 12px);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-fild__input {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild__input:focus {
  border: 1px solid #2196f3;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  color: #212121;
}

.form-fild__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild__input:focus ~ .form-fild__icon {
  fill: #2196f3;
}

.form-fild__input--textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-fild__input--textarea--textarea:focus {
  border: 1px solid #2196f3;
}

.form-fild__input--textarea--textarea::placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.policy__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.policy__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
}

.policy__icon {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 1px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-origin: border-box;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  font-size: 12px;
  line-height: 1.16;
  text-decoration-line: underline;
  color: #2196f3;
}

.button--size {
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  display: flex;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.close-btn__icon {
  display: flex;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon:hover {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  text-align: center;
  color: #212121;
}

.form-fild {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-fild__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14px / 12px);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-fild__input {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild__input:focus {
  border: 1px solid #2196f3;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  color: #212121;
}

.form-fild__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild__input:focus ~ .form-fild__icon {
  fill: #2196f3;
}

.form-fild__input--textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-fild__input--textarea--textarea:focus {
  border: 1px solid #2196f3;
}

.form-fild__input--textarea--textarea::placeholder {
  font-size: 12px;
  line-height: calc(14px / 12px);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.policy__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
}

.policy__icon {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 1px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-origin: border-box;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  font-size: 12px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .policy__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.button--size {
  max-width: 200px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */