.clients-list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.clients-list__item {
  @media screen and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 0;

  color: $borderColor;
  border: 1px solid $borderColor;
  border-radius: 4px;

  transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1),
    border $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

.clients-list__icon {
  fill: currentColor;
}
