.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: $bgColor;
}

.footer--flex {
  display: flex;
}

// Footer logo

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__text--color {
  color: $whiteColor;
}
