.header {
  border-bottom: 1px solid $btnBorderColor;
}

.header__container--flex {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.header__tools {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: $whiteColor;
  }
}

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

// Header logo

.logo {
  color: $accentColor;
  font-family: $secondaryFont;

  @include font(24px, 700, 28px, 0.03em);
  text-decoration: none;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}

.logo__text {
  color: $blackColor;
}

// // Main navigation

// Site navigation
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
}

.site-nav__item {
  @media screen and (max-width: 767px) {
    font-style: normal;
    @include font(40px, 500, 47px, 0.02em);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    @include font(14px, 500, 16px, 0.02em);

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondaryTextColor;
  cursor: pointer;

  transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $accentColor;
  }

  @media screen and (min-width: 768px) {
    &--current:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";

      display: block;
      width: 100%;
      height: 4px;

      background-color: $accentColor;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

// Auth-nav

.auth-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-flow: wrap;
    margin-top: 302px;
    color: $primaryTextColor;
  }

  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: 294px;
  }
}

.auth-nav__item {
  @media screen and (max-width: 767px) {
    &-order {
      order: 1;
      margin-bottom: 32px;
    }
    order: 2;

    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(12px, 500, 14px, 0.02em);
    color: $primaryTextColor;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
  }
}

.auth-nav__link {
  @media screen and (max-width: 767px) {
    display: inline-block;
    color: $accentColor;

    @include font(34px, 500, 40px, 0.02em);
    transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

    &--font-size {
      font-size: 24px;
      line-height: 28px;
      color: $primaryTextColor;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    color: $primaryTextColor;

    @include font(12px, 500, 14px, 0.02em);
    transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    @include font(14px, 500, 16px, 0.02em);
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.auth-nav__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }
}

.header-socials {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-socials__item {
  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header-socials__link {
  display: inline-block;
  padding-right: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accentColor;
}

.header__button {
  position: relative;
  display: inline-flex;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.icon-menu {
  display: none;
}

.header__button.is-open .icon-menu {
  display: block;
}

.header__button.is-open .icon-cross {
  display: none;
}
