.header {
  border-bottom: 1px solid $btnBorderColor;
}

.header__container--flex {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tools {
  display: none;
  position: absolute;
  background-color: $whiteColor;
  width: 100%;
  top: 0;
  left: 0;
  padding: 48px 40px;

  &.is-open {
    display: block;
  }
}

// Header logo

.logo {
  color: $accentColor;
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: $blackColor;
}

// // Main navigation

// // Site navigation
// .site-nav {
//   display: flex;
//   align-items: center;
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

.site-nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  position: relative;

  color: $secondaryTextColor;
  cursor: pointer;

  transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $accentColor;
  }

  // &--current:after {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   content: "";

  //   display: block;
  //   width: 100%;
  //   height: 4px;

  //   background-color: $accentColor;
  //   border-radius: 2px;
  // }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

// Auth-nav

.auth-nav {
  margin-top: 302px;
  color: $primaryTextColor;
}

.auth-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.auth-nav__link {
  display: inline-block;
  color: $accentColor;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  transition: color $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

  &--font-size {
    font-size: 24px;
    line-height: 28px;
    color: $primaryTextColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header-socials {
  display: flex;
  margin-top: 54px;
}

.header-socials__item {
  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header-socials__link {
  display: inline-block;
  padding-right: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accentColor;
}

.header__button {
  position: relative;
  display: inline-flex;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.icon-menu {
  display: none;
}

.header__button.is-open .icon-menu {
  display: block;
}

.header__button.is-open .icon-cross {
  display: none;
}
