.mail-form {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    margin-left: auto;
  }
}

.mail-form__field {
  display: flex;
  flex-direction: column;
}

.mail-form__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $whiteColor;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.mail-form__input {
  height: 50px;
  margin: 0;
  padding: 15px 0 15px 16px;
  border: 1px solid $inputBorderColor;
  box-sizing: border-box;
  filter: $boxShadowColor;
  border-radius: 4px;
  background-color: $bgColor;
  font-size: 20px;
  color: $whiteColor;
  transition: border $tamingFunction cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accentColor;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;

    color: $addressLinkColor;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.mail-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.button__icon {
  margin-left: 10px;
  fill: $whiteColor;
}
