//Colors
$primaryTextColor: #757575;
$secondaryTextColor: #212121;

$whiteColor: #ffffff;
$blackColor: #000000;
$accentColor: #2196f3;

$bgColor: #2f303a;
$bgCardColor: rgba(47, 48, 58, 0.8);
$bgBoxColor: #f5f4fa;
$bgSocials: rgba(255, 255, 255, 0.1);
$bgBackdropColor: rgba(0, 0, 0, 0.2);
$bgOverfloeColor: rgba(33, 150, 243, 0.9);

$btnHoverColor: #188ce8;
$addressLinkColor: rgba(255, 255, 255, 0.6);
$boxShadowColor: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
$borderColor: #afb1b8;
$btnBorderColor: #ececec;
$inputBorderColor: rgba(255, 255, 255, 0.3);

//Fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;

//Timing function
$tamingFunction: 250ms;
